extends layout

block content
  h2= title
  hr

  if messages
    div.alert.alert-info
      ul.mb-0
        for message in messages
          li!= message

  form(method='POST' action=`/images/image_update?image_id=${image._id}` style="max-width: 600px;")
    div.mb-3
      label.form-label(for='i_name') Nazwa obrazka:
      input#i_name.form-control(type='text', name='i_name', required, value=image.name)
    
    div.mb-3
      label.form-label(for='i_description') Opis:
      input#i_description.form-control(type='text', name='i_description', required, value=image.description)
    
    div.mb-3
      label.form-label(for='i_gallery') Galeria:
      select#i_gallery.form-select(name='i_gallery', required)
        for gallery in galleries
          if image.gallery.toString() === gallery._id.toString()
            option(value=gallery._id, selected) #{gallery.name}
          else
            option(value=gallery._id) #{gallery.name}
            
    button.btn.btn-primary(type='submit') Zapisz zmiany